body {
    margin: 0 auto;
    width: 1440px;
    background-color: white;
}

.top-sector {
    background-image: url('images/donation13.jpg');
    background-size: cover;
    width: 100%;
    height: 669px;
    margin-bottom: 130px;
}

.top-sector-details {
    height: 320px;
    width: 826px;
    color: white;
    padding-left: 307px;
    padding-top: 174px;
}

.top-sector-details h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
}

.top-sector-details p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.top-sector-details button {
    width: 160px;
    background-color: #FF5959;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.donate-amount-container {
    width: 765px;
    margin: 0 auto;
}

.donate-text {
    width: 691px;
    text-align: center;
}

.donate-text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.donate-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #707070;
}

.donate-amount-selection {
    display: flex;
    gap: 5px;
}

.box-white {
    width: 135px;
    height: 123px;
    background-color: #fafafa;
    border-radius: 5px;
}